<?xml version="1.0"?>

<launch>

<node pkg="stage_ros" name="stageros" type="stageros" output="screen" args="-d $(find pmr_20212)/worlds/TP1_task3.world" respawn="true"></node>

<node pkg="pmr_20212" name="controller" type="TP1_task3.py" output="screen" respawn="true"></node>

<node pkg="rviz" name="rviz" type="rviz" args="-d $(find pmr_20212)/rviz/TP1.rviz" output="screen"></node>

<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 /map /world 10" />

<node pkg="map_server" name="map_server" type="map_server" args="$(find pmr_20212)/worlds/map_obstacles_1.yaml"></node>

<!-- <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph" output="screen"></node> -->

</launch>
